* {
  margin: 0;
  padding: 0;
}

div {
  display: table;
  overflow: hidden;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

p {
  display: table-cell;
  vertical-align: middle;
  font-size: 25vw;
}